.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.layout-blog, .layout-article {
    padding-bottom: 100px
}

.title-page {
    margin-bottom: 20px;
    text-align: center
}

.title-page img {
    display: block;
    margin: auto
}

.title-page span, .title-page a {
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #140626
}

@media (max-width: 767px) {
    .title-page span, .title-page a {
        font-size: 20px
    }
}

.title-page a:hover {
    color: #FF1212
}

.article-details {
    min-height: 100%
}

.aside-content-blog {
    margin-bottom: 30px;
    background: #F7F7F7;
    padding: 10px;
    border-radius: 5px
}

.aside-content-blog .title-head-col {
    margin-bottom: 0;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #FF1212
}

@media (max-width: 1199px) {
    .aside-content-blog .title-head-col {
        font-size: 20px;
        margin-bottom: 5px;
        display: block
    }
}

.aside-content-blog .nav-category {
    padding: 5px;
    border-radius: 0 0 10px 10px
}

.aside-content-blog .nav-category ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.aside-content-blog .nav-category ul .nav-item .nav-link {
    display: block;
    padding: 8px 0;
    font-size: 15px;
    color: #000
}

.aside-content-blog .nav-category ul .nav-item .nav-link.pr-5 {
    padding-right: 30px
}

.aside-content-blog .nav-category ul .nav-item.active > .nav-link, .aside-content-blog .nav-category ul .nav-item:hover > .nav-link {
    color: #FF1212
}

.aside-content-blog .nav-category ul .nav-item.active > .down_icon:after, .aside-content-blog .nav-category ul .nav-item.active > .down_icon:before, .aside-content-blog .nav-category ul .nav-item:hover > .down_icon:after, .aside-content-blog .nav-category ul .nav-item:hover > .down_icon:before {
    background-color: #FF1212
}

.aside-content-blog .nav-category ul .menu_down {
    padding-left: 10px !important
}

.aside-content-blog .nav-category ul .down_icon {
    height: 20px !important;
    width: 20px !important;
    position: absolute;
    right: 7.5px;
    top: 21px;
    transform: translate(0, -50%);
    cursor: pointer
}

.aside-content-blog .nav-category ul .down_icon:after, .aside-content-blog .nav-category ul .down_icon:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: #000;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out
}

.aside-content-blog .nav-category ul .down_icon:before {
    width: 11px;
    height: 1px;
    opacity: 1
}

.aside-content-blog .nav-category ul .down_icon:after {
    width: 1px;
    height: 11px
}

.aside-content-blog .nav-category ul .down_icon.cls_mn:after, .aside-content-blog .nav-category ul .down_icon.cls_mn:before {
    background-color: #140626;
    transform: translate(-50%, -50%) rotate(90deg)
}

.aside-content-blog .nav-category ul .down_icon.cls_mn:before {
    opacity: 0
}

.blog_noibat {
    padding: 10px;
    background: #f7f7f7;
    border-radius: 10px 0 0 0;
    margin-bottom: 20px
}

.blog_noibat h2 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #FF1212
}

.blog_noibat h2 a {
    color: #FF1212
}

.blog_noibat h2 a:hover {
    color: #140626
}

.blog_noibat .blog_content {
    padding: 5px;
    border-radius: 0 0 10px 10px
}

.blog_noibat .blog_content .item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px
}

.blog_noibat .blog_content .item .post-thumb {
    width: 100px;
    margin-right: 10px
}

.blog_noibat .blog_content .item .contentright {
    width: calc(100% - 110px)
}

.blog_noibat .blog_content .item .contentright h3 {
    font-size: 16px;
    margin: 0
}

.blog_noibat .blog_content .item .contentright h3 a {
    display: block;
    color: #000;
    font-weight: 400
}

.blog_noibat .blog_content .item .contentright h3 a:hover {
    color: #FF1212
}

.blog_noibat .blog_content .item:last-child {
    border: initial;
    margin: 0;
    padding: 0
}

.article-main .time-post {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    display: inline-block;
    margin-right: 10px
}

.article-main .time-post svg {
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-right: 2px
}

.article-main .time-post svg path {
    fill: #140626
}

.article-main .article-image {
    margin-bottom: 20px
}

.article-main .article-title {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    line-height: 34px
}

.article-main .posts {
    font-size: 12px;
    margin-bottom: 10px
}

.article-main .rte {
    font-size: 18px
}

@media (max-width: 767px) {
    .article-main .rte iframe {
        width: 100%
    }
}

.article-main #article_comments {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px
}

.article-main #article_comments label {
    display: block;
    margin-bottom: 4px;
    font-weight: 700
}

.article-main #article_comments label .required {
    color: #ff0000
}

.article-main #article_comments input {
    height: 40px
}

.article-main .form-group input {
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 20px;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #140626
}

.article-main .form-group input::placeholder {
    color: #7c7c7c
}

.article-main .form-group input:-ms-input-placeholder {
    color: #7c7c7c
}

.article-main .form-group input::-ms-input-placeholder {
    color: #7c7c7c
}

.article-main .form-group textarea {
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 20px;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #140626
}

.article-main .form-group textarea::placeholder {
    color: #7c7c7c;
    opacity: 1
}

.article-main .form-group textarea:-ms-input-placeholder {
    color: #7c7c7c
}

.article-main .form-group textarea::-ms-input-placeholder {
    color: #7c7c7c
}

.article-main .button_45 {
    height: 40px;
    line-height: 38px;
    padding: 0 25px;
    background: #140626;
    font-size: 14px;
    color: #fff;
    border: solid 1px #140626;
    font-weight: 400;
    margin-top: 10px;
    border-radius: 5px
}

.article-main .button_45:hover {
    background: #fff;
    border-color: #FF1212;
    color: #FF1212
}

.article-main .title-form-coment {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 15px;
    color: #000;
    font-weight: 500
}

#article-comments .article-comment {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #c9c8c5
}

#article-comments .article-comment:last-child {
    padding-bottom: 30px
}

#article-comments .article-comment-user-image {
    margin: 0;
    float: left;
    width: 80px;
    margin-right: 12px;
    height: 80px;
    border-radius: 0;
    display: block
}

#article-comments .article-comment-user-comment {
    display: block;
    float: left;
    width: calc(100% - 95px);
    -webkit-width: calc(100% - 95px);
    -moz-width: calc(100% - 95px);
    -o-width: calc(100% - 95px);
    -os-width: calc(100% - 95px);
    padding-left: 10px;
    word-break: break-word;
    font-size: em(14px)
}

#article-comments .user-name-comment {
    margin: 0;
    font-size: 14px;
    line-height: 1;
    font-weight: 700
}

#article-comments .user-name-comment strong {
    font-weight: 700
}

#article-comments .article-comment-date-bull {
    padding: 5px 0;
    display: block;
    color: #b0b0b0;
    font-size: 12px
}

#article-comments .cm {
    font-size: 14px;
    color: #000
}

.social-sharing {
    border-top: solid 1px #e4e4e4;
    padding: 20px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center
}

.social-sharing span {
    margin-right: 10px
}

.social-sharing .addthis_inline_share_toolbox {
    margin-top: 3px
}

.blog_lienquan h2 {
    font-size: 28px;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #231f20
}

.blog_lienquan .item-blog {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-radius: 5px
}

.blog_lienquan .item-blog .block-thumb {
    width: 375px;
    margin-right: 30px
}

.blog_lienquan .item-blog .block-thumb .thumb {
    padding-bottom: 66%;
    display: block;
    height: 0;
    position: relative
}

.blog_lienquan .item-blog .block-thumb .thumb img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
    position: absolute
}

.blog_lienquan .item-blog .block-content h3 {
    padding: 0px;
    margin: 0px 0 15px;
    line-height: 24px;
    font-size: 18px;
    color: #000
}

.blog_lienquan .item-blog .block-content .time-post {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    display: inline-block;
    margin-right: 10px
}

.blog_lienquan .item-blog .block-content .time-post svg {
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-right: 2px
}

.blog_lienquan .item-blog .block-content p.justify {
    font-size: 14px;
    color: #000;
    margin: 15px 0;
    font-weight: 400
}

.blog_lienquan .item-blog .block-content .viewmore {
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #363636;
    color: #000;
    font-size: 14px;
    padding: 0 30px
}

.blog_lienquan .item-blog .block-content .viewmore:hover {
    background: #FF1212
}

@media (max-width: 991px) {
    .aside-content-blog {
        margin-top: 30px
    }
}

.social-sharing {
    border-top: solid 1px #e4e4e4;
    padding: 20px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center
}

.social-sharing .addthis_toolbox a {
    margin-bottom: 0
}

.social-sharing span {
    margin-right: 10px
}

.social-sharing .addthis_inline_share_toolbox {
    margin-top: 3px
}

.right-content .row {
    margin-left: -12px;
    margin-right: -12px
}

.right-content .row .col-md-6 {
    padding-left: 12px;
    padding-right: 12px
}

.right-content .row .col-md-6 .item-blog .block-content .time-post {
    margin-bottom: 10px
}

.right-content .row .col-md-6 .item-blog .block-content h3 {
    font-size: 18px;
    margin-bottom: 10px
}

.blog-search-form {
    overflow: hidden;
    position: relative;
    margin-bottom: 0px;
    max-width: 500px;
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid #140626
}

.blog-search-form input {
    width: 100%;
    height: 36px;
    padding-right: 80px;
    padding-left: 10px;
    border: 0
}

.blog-search-form button {
    position: absolute;
    right: 1px;
    width: 60px;
    height: 34px;
    background: #FF1212;
    border: 0;
    border-radius: 5px;
    top: 1px
}

.blog-search-form button:hover {
    opacity: 0.7
}

.blog-search-form button path {
    fill: #fff
}

.blog-lienquan {
    margin-top: 50px
}

.art-pro {
    margin-top: 15px;
    margin-bottom: 15px
}

.search-blog {
    margin-bottom: 20px;
    background: #F7F7F7;
    padding: 10px;
    border-radius: 5px
}

.search-blog .title-head {
    margin-bottom: 15px;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #FF1212;
    display: inline-block
}

.search-blog .title-head a {
    color: #fff
}

.search-blog .title-head a:hover {
    opacity: 0.7
}

.search-blog .thump-searh {
    padding: 10px 0px
}

.thump-comment {
    margin-top: 20px
}

.hidescroll {
    display: none
}

.auto {
    display: block
}

.fixMenu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 30px;
    right: 0;
    width: auto;
    min-width: 373px;
    border: 1px solid rgba(224, 224, 224, 0.95);
    background: #f9f9f9;
    overflow: auto;
    z-index: 999
}

.fixMenu .closeftoc {
    padding: 12px 5px;
    position: relative;
    margin-bottom: 10px;
    background: rgba(237, 237, 237, 0.95);
    font-weight: 400;
    font-size: 20px
}

.fixMenu .closeftoc img {
    width: 24px;
    margin-right: 10px;
    vertical-align: middle
}

.fixMenu .closeftoc span {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 18px;
    font-size: 20px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: 2px solid #333;
    line-height: 19px;
    text-align: center;
    font-weight: 400
}

.fixMenu .dola-toc-bottom > ol {
    padding-left: 0px;
    list-style: decimal;
    list-style-type: none;
    list-style-position: inherit;
    padding-left: 0px
}

.fixMenu .dola-toc-bottom > ol li > a {
    padding: 5px 10px;
    display: inline-block;
    width: 100%
}

.fixMenu .dola-toc-bottom > ol li > a:hover {
    background: #140626;
    color: #fff
}

.fixMenu .dola-toc-bottom > ol li .is-collapsible {
    list-style: decimal;
    list-style-type: circle;
    list-style-position: inherit;
    padding-left: 0px
}

.fixMenu .dola-toc-bottom > ol li .is-collapsible li {
    padding-left: 0px;
    display: inline-block;
    width: 100%
}

.fixMenu .dola-toc-bottom > ol li .is-collapsible li a {
    padding-left: 30px;
    font-style: italic;
    position: relative;
    width: 100%
}

.fixMenu .dola-toc-bottom > ol li .is-collapsible li a:before {
    content: "";
    top: 13px;
    left: 15px;
    position: absolute;
    width: 9px;
    height: 9px;
    border: solid 2px #d7d7d7;
    border-radius: 50%
}

.fixMenu .dola-toc-bottom > ol li .is-collapsible li.is-active-li > a {
    background: #140626;
    color: #fff
}

.fixMenu .dola-toc-bottom > ol li.is-active-li > a {
    background: #140626;
    color: #fff
}

.tabClick {
    position: fixed;
    top: 30% !important;
    right: 0;
    z-index: 99;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    background: #140626
}

.tabClick img {
    width: 30px;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1)
}

.ftoc-head {
    background: #ebf9ff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 30px
}

.ftoc-head .title-goto-wrapper {
    margin-bottom: 15px;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #140626;
    display: inline-block
}

.ftoc-head .title-goto-wrapper img {
    height: 25px;
    position: absolute;
    left: 100%;
    top: -2px
}

.ftoc-head .dola-toc .toc-list {
    list-style: decimal;
    list-style-type: disc;
    list-style-position: inherit;
    padding-left: 20px
}

.ftoc-head .dola-toc .toc-list .toc-list-item {
    color: #000;
    margin-bottom: 10px;
    font-size: 16px
}

.ftoc-head .dola-toc .toc-list .toc-list-item a {
    color: #000;
    font-size: 16px
}

.ftoc-head .dola-toc .toc-list .toc-list-item .is-collapsible {
    list-style: decimal;
    list-style-type: circle;
    list-style-position: inherit;
    padding-left: 20px
}

.gallery-top .swiper-slide {
    padding-bottom: 41%;
    display: block;
    height: 0;
    background: #fff;
    overflow: hidden;
    border-radius: 15px
}

.gallery-top .swiper-slide img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 99%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
    position: absolute;
    border-radius: 5px
}

.gallery-thumbs {
    margin-top: 10px !important;
    padding: 10px 0;
    background: #fff;
    border-radius: 15px
}

.gallery-thumbs .swiper-slide {
    border: 2px solid #ebebeb;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
    overflow: hidden
}

.gallery-thumbs .swiper-slide .p-100 {
    padding-bottom: 41%;
    overflow: hidden;
    height: auto;
    display: block;
    position: relative
}

.gallery-thumbs .swiper-slide .p-100 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
    border-color: #140626
}

.gallery-thumbs .swiper-slide:hover {
    border-color: #140626
}

.tag-duan {
    display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    text-align: left;
    background: #F7F7F7;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px
}

.tag-duan li {
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    font-weight: bold
}

@media (max-width: 1199px) {
    .tag-duan li {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 5px
    }
}

@media (max-width: 767px) {
    .tag-duan li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 5px
    }
}

.tag-duan li span {
    color: #FF1212
}

.item-blog-duan {
    background: #f7f7f7
}

.aside-content-blog {
    margin-bottom: 30px;
    background: #F7F7F7;
    padding: 10px;
    border-radius: 5px
}

.aside-content-blog .title-head-col {
    margin-bottom: 0;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #FF1212
}

@media (max-width: 1199px) {
    .aside-content-blog .title-head-col {
        font-size: 20px;
        margin-bottom: 5px;
        display: block
    }
}

.aside-content-blog .nav-category {
    padding: 5px;
    border-radius: 0 0 10px 10px
}

.aside-content-blog .nav-category ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.aside-content-blog .nav-category ul .nav-item .nav-link {
    display: block;
    padding: 8px 0;
    font-size: 18px;
    color: #000
}

.aside-content-blog .nav-category ul .nav-item .nav-link.pr-5 {
    padding-right: 30px
}

.aside-content-blog .nav-category ul .nav-item.active > .nav-link, .aside-content-blog .nav-category ul .nav-item:hover > .nav-link {
    color: #FF1212
}

.aside-content-blog .nav-category ul .nav-item.active > .down_icon:after, .aside-content-blog .nav-category ul .nav-item.active > .down_icon:before, .aside-content-blog .nav-category ul .nav-item:hover > .down_icon:after, .aside-content-blog .nav-category ul .nav-item:hover > .down_icon:before {
    background-color: #FF1212
}

.aside-content-blog .nav-category ul .menu_down {
    padding-left: 10px !important
}

.aside-content-blog .nav-category ul .down_icon {
    height: 20px !important;
    width: 20px !important;
    position: absolute;
    right: 7.5px;
    top: 21px;
    transform: translate(0, -50%);
    cursor: pointer
}

.aside-content-blog .nav-category ul .down_icon:after, .aside-content-blog .nav-category ul .down_icon:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: #000;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out
}

.aside-content-blog .nav-category ul .down_icon:before {
    width: 11px;
    height: 1px;
    opacity: 1
}

.aside-content-blog .nav-category ul .down_icon:after {
    width: 1px;
    height: 11px
}

.aside-content-blog .nav-category ul .down_icon.cls_mn:after, .aside-content-blog .nav-category ul .down_icon.cls_mn:before {
    background-color: #140626;
    transform: translate(-50%, -50%) rotate(90deg)
}

.aside-content-blog .nav-category ul .down_icon.cls_mn:before {
    opacity: 0
}
